
{% load static %}
{% block title %}Profile - Placement, NITT{% endblock title %}

{% block body %}
<div class="container-fluid">
    <div class="profile-header">
        <div class="profile-options">
            <h4 class="h-4">Welcome, SAS {{user.first_name}}</h4>
            {% if studentDetails %}
            <a href="{% url 'updateStudent' user.student.pk %}" type="button" class="btn btn-primary" >
                Update Profile
            </a>
            {% else %}
            <a href="{% url 'addStudent' %}" type="button" class="btn btn-primary" >
                Add Profile Details
            </a>
            {% endif %}
        </div>
        {% if user.student.profile_pic %}
        <img src="{{ user.student.profile_pic.url }}" class="rounded-circle"  width=75 height=75>
    
        {% else %}
        
        <img src="{% static "img/Bhushan.jpg" %}" alt="No image found!" class="profile-img img-fluid" type="image">
            
        {% endif %}
        
    </div>
    <div class="profile-details table-hover table-responsive">
        <table class="table">
            <thead></thead>
            <tbody>
                {% if studentDetails %}
                {% for item in studentDetails %}
                <tr class="profile-item">
                    <td class="profile-item-label">Roll</td>
                    <td>:</td>
                    <td class="profile-item-content">{{user.username}}</td>
                </tr>
                
                <tr class="profile-item">
                    <td class="profile-item-label">Name</td>
                    <td>:</td>
                    <td class="profile-item-content">{{user.first_name}} {{user.last_name}}</td>
                </tr>

                <tr class="profile-item">
                    <td class="profile-item-label">Gmail</td>
                    <td>:</td>
                    <td class="profile-item-content">{{user.email}}</td>
                </tr>
                
                <tr class="profile-item">
                    <td class="profile-item-label">Phone</td>
                    <td>:</td>
                    <td class="profile-item-content">{{item.phone}}</td>
                </tr>
                <tr class="profile-item">
                    <td class="profile-item-label">Campus mail</td>
                    <td>:</td>
                    <td class="profile-item-content">{{item.campusEmail}}</td>
                </tr>
                
                <tr class="profile-item">
                    <td class="profile-item-label">Gender</td>
                    <td>:</td>
                    <td class="profile-item-content"> {{item.gender}}</td>
                </tr>
                <tr class="profile-item">
                    <td class="profile-item-label">Department</td>
                    <td>:</td>
                    <td class="profile-item-content"> {{item.Department}}</td>
                </tr>
                <tr class="profile-item">
                    <td class="profile-item-label">Semester</td>
                    <td>:</td>
                    <td class="profile-item-content"> {{item.Semester}}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock body %}