{% extends 'base.html' %} 
{% load static %}
{% block title %}{{subject.subject_name}}{% endblock title %} 
{% block homeactive %} active {% endblock homeactive %}




{% block body %}


<div class="container-fluid">
    <table class="table table-striped table-hover table-info overflow-auto">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Student</th>
                <th>Attendance_date</th>
                <th>Status</th>
            
            </tr>
        </thead>
        <tbody>
            {% if attendance %}
            {% for item in attendance %}
            <tr>     
                <td>{{ item.subject.subject_name }}</td>
                <td>{{ item.student.roll }}</td>
                <td>{{ item.attendance_date }}</td>
                <td>{{item.status}}</td>
            </tr>
            {% endfor %}
            {% else %}
            No attendance available
            {% endif %}
        </tbody>
    </table>
</div>




{% endblock body %}

