{% load static %}
{% block body %}
{% if  user.is_authenticated%}
<body onload="getLocation();">
    <script>
        async function getLocation() {
            if (navigator.geolocation) {
                await navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {
            //to get student getLocation
            {% if user.user_type == '1' or user.is_superuser %}
            document.cookie="stu_lang="+ position.coords.latitude;
            document.cookie="stu_lat="+position.coords.longitude;
            {% endif %}

            //to get faculty getLocation
            {% if user.user_type == '2' or user.is_superuser %}
            document.cookie="faculty_lang="+position.coords.latitude;
            document.cookie="faculty_lat="+position.coords.longitude;
            {% endif %}
            // x.innerHTML = "Latitude: " + position.coords.latitude +
            // "<br>Longitude: " + position.coords.longitude;
        }

        //for auto submit

        </script>

</body>
{% endif %}
{% endblock body %}
