{% load static %}
<body onload="getLocation();">
    <form class= "myFrom" action = "" method = "get">
        <input type="hidden" id='lang' name="lang" value="">
        <input type="hidden" id='lat' name="lat" value="">
    </form>

    <script>
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {
            document.getElementById("lat").value = position.coords.latitude;
            document.getElementById("lang").value = position.coords.longitude;
            // x.innerHTML = "Latitude: " + position.coords.latitude +
            // "<br>Longitude: " + position.coords.longitude;
        }
        </script>

</body>
</html>
