{% extends 'base.html' %}
{% load static %}
{% block body %}
{% if  user.is_authenticated%}
<body onload="getLocation();">
    <form class= "myFrom" id ="myForm" action = "#" method = "POST">
        {% csrf_token %}
        {% if user.user_type == '1' or user.is_superuser %} 
            <input type="text" id='stu_lang' name="stu_lang" value="">
            <input type="text" id='stu_lat' name="stu_lat" value="">
        {% endif %}

        {% if user.user_type == '2' or user.is_superuser %}
            <input type="text" id='faculty_lang' name="faculty_lang" value="">
            <input type="text" id='faculty_lat' name="faculty_lat" value="">
        {% endif %}
        <input type="submit" value="Submit">

    </form>

    <script>
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {
            //to get student getLocation
            {% if user.user_type == '1' or user.is_superuser %}
            document.getElementById("stu_lang").value = position.coords.latitude;
            document.getElementById("stu_lat").value = position.coords.longitude;
            {% endif %}

            //to get faculty getLocation
            {% if user.user_type == '2' or user.is_superuser %}
            document.getElementById("faculty_lang").value = position.coords.latitude;
            document.getElementById("faculty_lat").value = position.coords.longitude;
            {% endif %}
            // x.innerHTML = "Latitude: " + position.coords.latitude +
            // "<br>Longitude: " + position.coords.longitude;
        }

        //for auto submit

        </script>

</body>
{% endif %}
{% endblock body %}
